<!-- burger.html -->
{% extends 'food/base.html' %}
{% load static %}

{% block title %}S&P Burger Tower{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div class="container-fluid">
    <h1 class="title">Welcome to Burger Tower</h1>
    <i>"There's nothing quite like sinking your teeth into a juicy, flavorful burger. It's a moment of pure bliss." – Grage</i>

    <div class="row">
        <div class="col-md-8">
            <div class="row text-center">
                {% for i in item %}
                <div class="col-md-4 p-4">
                    <div class="image-container">
                        <img class="picture" src="{{ i.BurgerImage }}">
                        <div class="image-overlay"></div> <!-- Overlay for hover effect -->
                    </div>
                    <h5 class="pt-3" id="Bug{{ i.id }}">{{ i.BurgerName }}</h5>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="burger{{i.id}}" value="{{ i.BurgerpriceM }}">
                            <i>M:{{ i.BurgerpriceM }}₹</i>
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="burger{{i.id}}" value="{{ i.BurgerpriceL }}">
                            <i>L:{{ i.BurgerpriceL }}₹</i>
                        </label>
                    </div>
                    <div><button class="btn-info m-3" onclick="addBurger('{{i.id}}')">Add To Cart</button></div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4 orders">
            <div class="bg-secondary p-4 rounded">
                <h3 class="text-center">Ordered Items</h3>
                <ul id="bcart"></ul>
                <h5 class="text-right" id="btotal">Total: 0₹</h5>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/border.js' %}"></script>

{% endblock %}
