{% extends 'food/base.html' %}
{% load static %}

{% block title %}S&P Burger Tower{% endblock %}

{% block content %}
<div class="container-fluid p-4">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 p-5 bg-dark text-light text-center">

        <h4 >SignUp</h4><h6>Already Signedup ? <a href="{% url 'BaseApp:login' %}" class="btn btn-info btn-sm m-1" >Log In</a></h6>
        <form method="POST">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <div>
            {{field.label}}


            </div>
            <div>
            {{field}}

            </div>
            {% if field.help_text %}
            <small style="color:gray">{{field.help_text}}</small>
            {% endif %}

          </div>
          {% endfor %}
            <div>
            {% for error in form.errors %}
            <small style="color:red">{{error}}</small>

            {% endfor %}</div>
          <button type="submit" class="btn-info">Submit</button>

        </form>

      </div>

    </div>
</div>

{% endblock %}